/**
Global
==========================================
Defines the global styles of the Project.
It contains the global modifier classes that help working with the Project elements and the typographic styles.
*/

// Fix the body for off-canvas handling
html {
    width: 100%;
    height: 100%;

    &.no--scroll {
        position: relative;
        overflow: hidden;

        body {
            overflow: hidden;
        }
    }
}

body {
    @include unitize(font-size, 16);
    font-family: $font-base-stack;
    font-weight: $font-base-weight;
    color: $text-color;
    background: $body-bg;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1 {
    @include unitize($font-size-h1, 16, font-size);
    @include unitize(line-height, 28);
    @include unitize-margin(34, 0, 20, 0);
    color: $text-color-dark;
}

h2 {
    @include unitize(font-size, $font-size-h2);
}

h3 {
    @include unitize(font-size, $font-size-h3);
}

h4 {
    @include unitize(font-size, $font-size-h4);
}

h5 {
    @include unitize(font-size, $font-size-h5);
}

h6 {
    @include unitize(font-size, $font-size-h6);
}

p {
    @include unitize(font-size, $font-size-base);
    @include unitize(line-height, 24);
    @include unitize-margin(0, 0, 20, 0);
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

pre,
code,
address,
caption,
th,
figcaption {
    font-size: 1em;
    font-weight: 400;
    font-style: normal
}

fieldset,
iframe,
img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article,
aside,
footer,
header,
nav,
main,
section,
summary,
details,
hgroup,
figure,
figcaption {
    display: block
}

audio,
canvas,
video,
progress {
    display: inline-block;
    vertical-align: baseline
}

button {
    background: none;
    border: 0;
    box-sizing: content-box;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: inherit;
    overflow: visible;
    vertical-align: inherit
}

button:disabled {
    cursor: default
}

body,
input,
textarea,
select,
button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left
}

.responsive-img img,
.responsive-video video {
    max-width: 100%;
    height: auto;
}