/*
Header
==========================================
Defines the styles of the Shopware storeview header and its components.
It contains the viewport specific styles inside media queries.
The header sizes are defined by the unitize mixin.
More precise designations are commented inside the document.
*/

// Basic header
.header-main {
  @include unitize(padding-bottom, 10);
  background: #fff;
  border-bottom: 1px solid $brand-primary;

  // Logo
  .logo-main {
    @include unitize-padding(10, 10);

    .logo--link {
      @include unitize-height(35, 16);
      display: inline-block;
      max-width: 100%;
    }

    // Smaller logo for mobile viewports
    .logo--mobile {
      @include unitize-height(35, 16);
      width: 50%;
    }
  }

  .header--navigation {
    position: relative;
  }
}

// Small Checkout & Registration Header
.is--ctl-checkout.is--minimal-header,
.is--ctl-register.is--minimal-header,
.is--ctl-register.is--minimal-header.is--target-checkout {

  // Header Support Info
  .header-main {
    .logo-main { width: 100%; }
    .logo--shop { width: 50% }
    .logo--link { @include unitize(margin-top, 10); }

    .logo--supportinfo { display: none; }
    border-bottom: 1px solid $brand-primary;

    .btn--back-top-shop {
      @include unitize(margin-top, 10);
      width: 40%;
      float: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// Navigation
.nav--navigation {
  position: relative;

  .navigation--list {
    width: 100%;
    text-align: right;
  }

  .navigation--entry {
    @include unitize(margin-right, 5);
    display: inline-block;

    // General button styling in shop navigation
    .btn {
      @include unitize-height(40, 16);
      @include unitize-width(40, 16);
      vertical-align: middle;
    }
  }

  .entry--link {
    text-align: center;
    text-decoration: none;
  }

  // Menu Button toggle OffCanvas
  .entry--menu-left {
    @include tap-highlight-color();
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    font-weight: $font-bold-weight;
    text-align: left;

    .btn {
      @include unitize(padding-left, 48);
      @include unitize(line-height, 35);
      @include unitize(font-size, 17);
      @include unitize-height(40, 16);
      color: $brand-secondary;
      width: auto;
      background: 0 none;
      border: 0 none;
    }

    .icon--menu { @include unitize(font-size, 20); }
  }
}

.off-canvas {
  .account--menu.is--personalized {
    .navigation--signin {
      border-bottom: none;
    }
  }
}

// Loading indicator for css animations supported browsers
.has--cssanimations {
  .form--ajax-loader {
    @include unitize(top, 20);
    @include unitize(right, 55);
    position: absolute;
    display: none;

    &::before {
      @include unitize-width(16);
      @include unitize-height(16);
      @include border-radius(100%);
      @include animation(keyframe--adjust-hue 1s linear infinite);
      border: 2px solid $border-color;
      border-top: 2px solid darken($border-color, 50%);
      display: block;
      content: "";
    }
  }
}

// Loading indicator for non css animations supported browsers
.has--no-cssanimations .form--ajax-loader {
  @include unitize(top, 24);
  @include unitize(right, 55);
  @include unitize-width(16);
  @include unitize-height(16);
  position: absolute;
  display: none;
  // background-image: url('../../img/icons/loading-indicator.gif');
}

.off-canvas .mobile--switches {
  .navigation--entry {
    padding: 0;
    border: none;
    background: none;
  }
}

// Phone Landscape styling for the global shop header
@media screen and (min-width: $phoneLandscapeViewportWidth) {
  .has--cssanimations .form--ajax-loader {
    @include unitize(top, 10);
    @include unitize(right, 45);
    position: absolute;
  }

  .has--no-cssanimations .form--ajax-loader {
    @include unitize(top, 14);
    @include unitize(right, 45);
    position: absolute;
  }
}

// Tablet styling for the global shop header
@media screen and (min-width: $tabletViewportWidth) {
  .header-main {
    padding-bottom: 0;
    border-bottom: 0 none;

    .container {}

    .top-bar {
      @include unitize-padding(4, 0, 4, 0, 16);
      display: block;
    }

    .top-bar--navigation {
      width: auto;
      float: right;

      .navigation--entry {
        @include unitize-padding(0, 15);
        @include unitize(line-height, 25);
        float: left;
        display: block;

        li {
          line-height: normal;
        }
      }

      .navigation--entry,
      .navigation--link {
        color: $text-color;
        cursor: pointer;

        &:hover {
          color: $brand-primary;
        }
      }

      .field--select,
      .navigation--entry {
        @include unitize-height(25, 16);
      }

      .field--select {
        position: relative;
      }

      .select-field {
        @include unitize-height(25);

        select {
          @include reset-border-radius();
          @include unitize-padding(0, 18, 0, 0);
          @include unitize(line-height, 25);
          background: none;
          border: 0 none;
        }

        &:after {
          @include unitize-height(25);
          @include unitize(line-height, 24);
          width: auto;
          border: 0 none;
        }
      }
    }

    .header--navigation {
      @include unitize-padding(10, 0);
    }

    .logo-main {
      @include unitize-padding(0, 0, 0, 10);
      width: 35%;

      .logo--link {
        @include unitize-height(50, 16);
      }
    }
  }

  .logo-main {
    float: left;
  }

  .nav--navigation {
    width: 65%;

    .navigation--list {
      background-image: none;
      text-align: right;
    }

    .navigation--entry {
      @include border-radius();
      border: 0 none;
      width: auto;
      float: none;
      display: inline-block;
    }

    .entry--link {
      font-weight: $font-base-weight;
    }

    .entry--menu-left {
      display: none;
    }

    // Search entry
    .entry--search {
      @include unitize(font-size, 14);
      position: absolute;
      left: 3%;
      margin-right: 10%;
      background: #fff;
      padding: 0;
      border: 0 none;
      width: 50%;

      .entry--trigger { display: none }
    }
  }
}

// Tablet Landscape styling for the global shop header
@media screen and (min-width: $tabletLandscapeViewportWidth) {

  .header-main {
    .logo-main {
      width: 30%;
    }

    .nav--navigation {
      width: 70%;
    }
  }

  .nav--navigation {
    .entry--search {
      width: 40%;
      margin-right: 8%;
    }
  }

  .navigation--list {

    // Reset the button width
    .navigation--entry .btn {
      width: auto;
    }

  }
}

// Desktop styling for the global shop header
@media screen and (min-width: $desktopViewportWidth) {

  .header-main {
    .top-bar {
      @include unitize(margin-bottom, 2);
    }
  }

  // General shop navigation
  .nav--navigation {
    width: 75%;

    .navigation--link {
      @include unitize-padding(8, 16, 16);
    }

    .entry--link {
      @include unitize(font-size, 14);
    }

    .entry--trigger {
      @include unitize(margin-right, 14);
    }
  }

  // Topbar navigation
  .header-main .top-bar--navigation {

    .navigation--entry:last-child {
      padding-right: 0;
    }
  }
}