/*
Labels
===================================================================
######Creates a label for displaying a status.
To work properly the `span`-element needs the general `label`-class and a color scheme option:
Options: `success`, `info`, `warning`, `error`.
```
<span class="label success">Success!</span>
<span class="label info">Info!</span>
<span class="label warning">Warning!</span>
<span class="label error">Error!</span>
```
*/

.label {
  @include unitize-padding(5, 15);
  @include unitize-margin(0, 0);
  @include unitize(font-size, $font-size-base);
  @include unitize(line-height, $font-size-base + 2);
  @include border-radius(4px);
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: $theme-dark--text-color;
  background: $text-color;

  &.success {
    background: $highlight-success;
  }

  &.info {
    background: $highlight-info;
  }

  &.warning {
    background: $highlight-notice;
  }

  &.error {
    background: $highlight-error;
  }

  &.is--outlined {
    background: transparent;
    color: $text-color;
    border: 1px solid $text-color;

    &.success {
      color: $highlight-success;
      border-color: $highlight-success;
    }

    &.info {
      color: $highlight-info;
      border-color: $highlight-info;
    }

    &.warning {
      color: $highlight-notice;
      border-color: $highlight-notice;
    }

    &.error {
      color: $highlight-error;
      border-color: $highlight-error;
    }
  }
}