.section-cards {
  position: relative;
  z-index: 5;
  background: #fff
}

.section-cards .headline {
  position: -webkit-sticky;
  position: sticky;
  top: calc(50vh - 391px + 52px);
  top: calc(50vh + 52px - 265px - 138px);
}

@media only screen and (min-width: 1800px) {
  .section-cards .headline {
    top: calc(50vh + 52px - 285px - 153px)
  }
}

@media only screen and (max-width: 1068px) {
  .section-cards .headline {
    top: calc(50vh + 52px - 210px - 197px)
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .headline {
    position:relative;
    top: 0
  }
}

.section-cards .headline.flow {
  position: relative;
  top: 0
}

.section-cards .section-content {
  padding-top: 140px;
  text-align: center
}

@media only screen and (min-width: 1800px) {
  .section-cards .section-content {
    padding-bottom:22px
  }
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content {
    padding-bottom:70px
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content {
    padding-top:100px;
    padding-bottom: 40px
  }
}

@media only screen and (max-width: 735px) and (max-width: 735px) {
  .section-cards .section-content .typography-headline-elevated {
    font-size:44px;
    line-height: 1.09091;
    font-weight: 600;
    letter-spacing: -.002em;
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content .typography-intro {
    font-size:17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif
  }
}



.section-cards .section-content li {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform, opacity;
  height: 800px;
  position: sticky;
  position: -webkit-sticky;
  top: calc(50vh + 52px - 215px - 40px)
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content li {
    height:600px
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content li {
    height:620px
  }
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content li {
    top:calc(50vh + 52px - 212.5px - 65px)
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content li {
    top:calc(50vh + 52px - 228px - 100px)
  }
}

@media only screen and (max-width: 320px) {
  .section-cards .section-content li {
    top:calc(50vh + 52px - 228px - 60px)
  }
}

.section-cards .section-content li.only-card {
  top: calc(50vh + 52px - 265px - 80px)
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content li.only-card {
    top:calc(50vh + 52px - 210px - 80px)
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content li.only-card {
    top:calc(50vh + 52px - 228px - 75px - 30px)
  }
}

.section-cards .section-content li.flow {
  position: relative;
  top: 0;
  opacity: 1 !important;
  -webkit-transform: translate(0px, 0px) scale(1) !important;
  transform: translate(0px, 0px) scale(1) !important;
  height: 600px
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content li.flow {
    height:500px
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content li.flow {
    height:520px
  }
}

.section-cards .section-content li .card-container {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 750px;
  height: 530px;
  margin-left: -375px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content li .card-container {
    top:42px
  }
}

@media only screen and (min-width: 1800px) {
  .section-cards .section-content li .card-container {
    width:825px;
    height: 570px;
    margin-left: -412.5px
  }
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content li .card-container {
    width:625px;
    height: 420px;
    margin-left: -312.5px
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content li .card-container {
    width:320px;
    height: 456px;
    margin-left: -160px
  }
}

@media only screen and (max-width: 320px) {
  .section-cards .section-content li .card-container {
    width:290px;
    height: 456px;
    margin-left: -145px
  }
}

.section-cards .section-content li .bg,.section-cards .section-content li .card {
  position: absolute;
  left: 0;
  width: 750px;
  height: 530px;
  border-radius: 11px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

@media only screen and (min-width: 1800px) {
  .section-cards .section-content li .bg,.section-cards .section-content li .card {
    width:825px;
    height: 570px
  }
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content li .bg,.section-cards .section-content li .card {
    width:625px;
    height: 420px
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content li .bg,.section-cards .section-content li .card {
    width:320px;
    height: 456px
  }
}

@media only screen and (max-width: 320px) {
  .section-cards .section-content li .bg,.section-cards .section-content li .card {
    width:290px;
    height: 456px
  }
}

.section-cards .section-content li .card {
  overflow: hidden;
  z-index: 2;
  background-repeat: no-repeat;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  background-position: center center;
  -webkit-box-shadow: 4px 12px 40px 6px rgba(0,0,0,0.09);
  box-shadow: 4px 12px 40px 6px rgba(0,0,0,0.09)
}

.section-cards .section-content li .bg {
  z-index: 1;
  background-color: #fff
}

.section-cards .section-content li .card .card-headline {
  color: #fff;
  margin-top: 49px;
  margin-bottom: 26px;

  margin-left: auto;
  margin-right: auto;

  width: 66.66667%;
}

@media only screen and (min-width: 1800px) {
  .section-cards .section-content li .card .card-headline {
    margin-top:61px;
    margin-bottom: 38px
  }
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content li .card .card-headline {
    margin-top:37px;
    margin-bottom: 18px
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content li .card .card-headline {
    margin-top:33px
  }
}

.section-cards .section-content li.card-01 .card {
  background: -webkit-linear-gradient(130deg, #d754ad 0%, #f96785 67%, #fe7333 100%);
  background: linear-gradient(-40deg, #d754ad 0%, #f96785 67%, #fe7333 100%)
}

.section-cards .section-content li.card-02 .card {
  background: -webkit-linear-gradient(130deg, #af4fec 0%, #d753ad 70%, #eb6078 100%);
  background: linear-gradient(-40deg, #af4fec 0%, #d753ad 70%, #eb6078 100%)
}

.section-cards .section-content li.card-03 .card {
  background: -webkit-linear-gradient(130deg, #6c6ff0 0%, #a354e4 58%, #c65cae 100%);
  background: linear-gradient(-40deg, #6c6ff0 0%, #a354e4 58%, #c65cae 100%)
}

.section-cards .section-content li.card-04 .card {
  background: -webkit-linear-gradient(130deg, #56acef 0%, #6c6ff0 50%, #9755e7 100%);
  background: linear-gradient(-40deg, #56acef 0%, #6c6ff0 50%, #9755e7 100%)
}

.section-cards .section-content li.card-05 .card {
  background: -webkit-linear-gradient(130deg, #9adee6 0%, #00a9ff 25%, #3663cc 100%);
  background: linear-gradient(-40deg, #9adee6 0%, #00a9ff 25%, #3663cc 100%)
}

.section-cards .section-content li.card-06 .card {
  background: -webkit-linear-gradient(130deg, #69e7e3 0%, #14bcf3 60%, #1eb4e5 100%);
  background: linear-gradient(-40deg, #69e7e3 0%, #14bcf3 60%, #1eb4e5 100%)
}

.section-cards .section-content li.last-card {
  position: relative;
  top: -40px;
  height: 830px;
  margin-bottom: -40px
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content li.last-card {
    height:640px
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content li.last-card {
    height:670px
  }
}

.section-cards .section-content li.last-card.flow {
  top: -45px
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content li.last-card.flow {
    margin-bottom:-71px
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content li.last-card.only-card {
    height:660px;
    margin-bottom: -61px
  }
}

.section-cards .section-content li.last-card .card-container {
  -webkit-transform: translate3d(0px, 46px, 0px);
  transform: translate3d(0px, 46px, 0px)
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content .card-01 .card-headline {
    margin-bottom:20px !important
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content .card-01 .card-headline {
    margin-bottom:6px !important
  }
}

.section-cards .section-content .card-01 .device-lockup,
.section-cards .section-content .card-02 .device-lockup,
.section-cards .section-content .card-03 .device-lockup,
.section-cards .section-content .card-04 .device-lockup,
.section-cards .section-content .card-05 .device-lockup,
.section-cards .section-content .card-06 .device-lockup {
  position: relative;
  width: 100%;
  height: 100%
}

.section-cards .section-content .card-01 .image-hardware,
.section-cards .section-content .card-02 .image-hardware,
.section-cards .section-content .card-03 .image-hardware,
.section-cards .section-content .card-04 .image-hardware,
.section-cards .section-content .card-05 .image-hardware,
.section-cards .section-content .card-06 .image-hardware {
  width: 408px;
  height: 640px;
  background-size: 408px 640px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/v/apple-music/i/images/overview/listen_to_personalized_mixes_iphonex_large.png");
  left: 50%;
  margin-left: -148px;
  position: absolute;
  top: 0
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .section-cards .section-content .card-01 .image-hardware,
  .section-cards .section-content .card-02 .image-hardware,
  .section-cards .section-content .card-03 .image-hardware,
  .section-cards .section-content .card-04 .image-hardware,
  .section-cards .section-content .card-05 .image-hardware,
  .section-cards .section-content .card-06 .image-hardware {
    background-image:url("https://www.apple.com/v/apple-music/i/images/overview/listen_to_personalized_mixes_iphonex_large_2x.png")
  }
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content .card-01 .image-hardware,
  .section-cards .section-content .card-02 .image-hardware,
  .section-cards .section-content .card-03 .image-hardware,
  .section-cards .section-content .card-04 .image-hardware,
  .section-cards .section-content .card-05 .image-hardware,
  .section-cards .section-content .card-06 .image-hardware {
    width:320px;
    height: 502px;
    background-size: 320px 502px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/apple-music/i/images/overview/listen_to_personalized_mixes_iphonex_medium.png")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-cards .section-content .card-01 .image-hardware,
  .section-cards .section-content .card-02 .image-hardware,
  .section-cards .section-content .card-03 .image-hardware,
  .section-cards .section-content .card-04 .image-hardware,
  .section-cards .section-content .card-05 .image-hardware,
  .section-cards .section-content .card-06 .image-hardware{
    background-image:url("https://www.apple.com/v/apple-music/i/images/overview/listen_to_personalized_mixes_iphonex_medium_2x.png")
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content .card-01 .image-hardware,
  .section-cards .section-content .card-02 .image-hardware,
  .section-cards .section-content .card-03 .image-hardware,
  .section-cards .section-content .card-04 .image-hardware,
  .section-cards .section-content .card-05 .image-hardware,
  .section-cards .section-content .card-06 .image-hardware {
    width:356px;
    height: 560px;
    background-size: 356px 560px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/apple-music/i/images/overview/listen_to_personalized_mixes_iphonex_small.png")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-cards .section-content .card-01 .image-hardware,
  .section-cards .section-content .card-02 .image-hardware,
  .section-cards .section-content .card-03 .image-hardware,
  .section-cards .section-content .card-04 .image-hardware,
  .section-cards .section-content .card-05 .image-hardware,
  .section-cards .section-content .card-06 .image-hardware {
    background-image:url("https://www.apple.com/v/apple-music/i/images/overview/listen_to_personalized_mixes_iphonex_small_2x.png")
  }
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content .card-01 .image-hardware,
  .section-cards .section-content .card-02 .image-hardware,
  .section-cards .section-content .card-03 .image-hardware,
  .section-cards .section-content .card-04 .image-hardware,
  .section-cards .section-content .card-05 .image-hardware,
  .section-cards .section-content .card-06 .image-hardware {
    left:50%;
    margin-left: -117px
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content .card-01 .image-hardware,
  .section-cards .section-content .card-02 .image-hardware,
  .section-cards .section-content .card-03 .image-hardware,
  .section-cards .section-content .card-04 .image-hardware,
  .section-cards .section-content .card-05 .image-hardware,
  .section-cards .section-content .card-06 .image-hardware {
    left:50%;
    margin-left: -130px
  }
}

.section-cards .section-content .card-01 .image-screen,
.section-cards .section-content .card-02 .image-screen,
.section-cards .section-content .card-03 .image-screen,
.section-cards .section-content .card-04 .image-screen,
.section-cards .section-content .card-05 .image-screen,
.section-cards .section-content .card-06 .image-screen {
  width: 222px;
  height: 478px;
  background-size: 222px 478px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/v/apple-music/i/images/overview/listen_to_personalized_mixes_screen_large.jpg");
  left: 50%;
  margin-left: -111px;
  position: absolute;
  top: 33px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .section-cards .section-content .card-01 .image-screen,
  .section-cards .section-content .card-02 .image-screen,
  .section-cards .section-content .card-03 .image-screen,
  .section-cards .section-content .card-04 .image-screen,
  .section-cards .section-content .card-05 .image-screen,
  .section-cards .section-content .card-06 .image-screen {
    background-image:url("https://www.apple.com/v/apple-music/i/images/overview/listen_to_personalized_mixes_screen_large_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content .card-01 .image-screen,
  .section-cards .section-content .card-02 .image-screen,
  .section-cards .section-content .card-03 .image-screen,
  .section-cards .section-content .card-04 .image-screen,
  .section-cards .section-content .card-05 .image-screen,
  .section-cards .section-content .card-06 .image-screen {
    width:174px;
    height: 374px;
    background-size: 174px 374px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/apple-music/i/images/overview/listen_to_personalized_mixes_screen_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-cards .section-content .card-01 .image-screen,
  .section-cards .section-content .card-02 .image-screen,
  .section-cards .section-content .card-03 .image-screen,
  .section-cards .section-content .card-04 .image-screen,
  .section-cards .section-content .card-05 .image-screen,
  .section-cards .section-content .card-06 .image-screen {
    background-image:url("https://www.apple.com/v/apple-music/i/images/overview/listen_to_personalized_mixes_screen_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content .card-01 .image-screen,
  .section-cards .section-content .card-02 .image-screen,
  .section-cards .section-content .card-03 .image-screen,
  .section-cards .section-content .card-04 .image-screen,
  .section-cards .section-content .card-05 .image-screen,
  .section-cards .section-content .card-06 .image-screen {
    width:194px;
    height: 418px;
    background-size: 194px 418px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/apple-music/i/images/overview/listen_to_personalized_mixes_screen_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-cards .section-content .card-01 .image-screen,
  .section-cards .section-content .card-02 .image-screen,
  .section-cards .section-content .card-03 .image-screen,
  .section-cards .section-content .card-04 .image-screen,
  .section-cards .section-content .card-05 .image-screen,
  .section-cards .section-content .card-06 .image-screen {
    background-image:url("https://www.apple.com/v/apple-music/i/images/overview/listen_to_personalized_mixes_screen_small_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content .card-01 .image-screen,
  .section-cards .section-content .card-02 .image-screen,
  .section-cards .section-content .card-03 .image-screen,
  .section-cards .section-content .card-04 .image-screen,
  .section-cards .section-content .card-05 .image-screen,
  .section-cards .section-content .card-06 .image-screen {
    left:50%;
    margin-left: -87px
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content .card-01 .image-screen,
  .section-cards .section-content .card-02 .image-screen,
  .section-cards .section-content .card-03 .image-screen,
  .section-cards .section-content .card-04 .image-screen,
  .section-cards .section-content .card-05 .image-screen,
  .section-cards .section-content .card-06 .image-screen {
    left:50%;
    margin-left: -97px
  }
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content .card-01 .image-screen,
  .section-cards .section-content .card-02 .image-screen,
  .section-cards .section-content .card-03 .image-screen,
  .section-cards .section-content .card-04 .image-screen,
  .section-cards .section-content .card-05 .image-screen,
  .section-cards .section-content .card-06 .image-screen {
    top:25px
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content .card-01 .image-screen,
  .section-cards .section-content .card-02 .image-screen,
  .section-cards .section-content .card-03 .image-screen,
  .section-cards .section-content .card-04 .image-screen,
  .section-cards .section-content .card-05 .image-screen,
  .section-cards .section-content .card-06 .image-screen {
    top:29px
  }
}

.section-cards .section-content .card-02 .card-headline {
  margin-bottom: 29px !important
}

@media only screen and (min-width: 1800px) {
  .section-cards .section-content .card-02 .card-headline {
    margin-bottom:37px !important
  }

  .section-cards .section-content .card-02 .card-headline.large-8 {
    width: 75%
  }
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content .card-02 .card-headline {
    margin-bottom:35px !important
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content .card-02 .card-headline {
    margin-bottom:6px !important
  }
}



.section-cards .section-content .card-03 .card-headline {
  margin-bottom: 35px !important
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content .card-03 .card-headline {
    margin-bottom:31px !important
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content .card-03 .card-headline {
    margin-bottom:43px !important
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content .card-03 .card {
    overflow:visible
  }
}

.section-cards .section-content .card-04 .card-headline {
  margin-bottom: 31px !important
}

@media only screen and (min-width: 1800px) {
  .section-cards .section-content .card-04 .card-headline {
    margin-bottom:41px !important
  }
}

.section-cards .section-content .card-05 .card-headline {
  margin-bottom: 12px !important
}

@media only screen and (min-width: 1800px) {
  .section-cards .section-content .card-05 .card-headline {
    margin-bottom:16px !important
  }
}

@media only screen and (min-width: 1800px) {
  .section-cards .section-content .card-06 .card-headline {
    margin-bottom:10px !important
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content .card-06 .card-headline {
    margin-bottom:26px !important
  }
}

.section-cards .section-content .card-06 .device-lockup {
  position: relative;
  width: 100%;
  height: 100%
}

.section-cards .section-content .card-06 .card-container .card .card-headline {
  margin-bottom: 2px
}

.section-cards .section-content .cta-wrapper {
  position: relative;
  top: -160px
}

@media only screen and (min-width: 1800px) {
  .section-cards .section-content .cta-wrapper {
    top: -120px
  }
}

@media only screen and (max-width: 1068px) {
  .section-cards .section-content .cta-wrapper {
    top: -75px
  }
}

@media only screen and (max-width: 735px) {
  .section-cards .section-content .cta-wrapper {
    top: -65px
  }
}