.tooltip {
  padding: 10px 8px;
  z-index: 2000;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  opacity: 0;
  position: absolute;
  text-align: center;
  max-width: calc(100% - 4px);
  overflow: hidden;
  left: 0;
  top: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: rgba(17, 17, 17, 0.9);
  border-radius: 4px;
}