/*
Typography
================================
The variables define the sizes and weights for typographic elements.
The values can be changed with the backend theme manager.
*/


$font-size-base: 14;
$font-base-weight: 500;
$font-light-weight: 300;
$font-base-stack: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-headline-stack: $font-base-stack;

$font-size-h1: 26;
$font-size-h2: 21;
$font-size-h3: 18;
$font-size-h4: 16;
$font-size-h5: $font-size-base;
$font-size-h6: 12;
